<% include ../partials/header %>
<div class="container">
<h1>Add League</h1>
  <form action="/addleague" method="POST">
    <div class="form-group">
      <label for="">ID</label>
      <input type="text" class="form-control" value="" name="ID" id="" aria-describedby="helpId"
        placeholder="">
      <small id="helpId" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="">League</label>
      <input type="text" class="form-control" value="" name="League" id=""
        aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="">Season</label>
      <input type="text" class="form-control" value="" name="Season" id="" aria-describedby="helpId"
        placeholder="">
      <small id="helpId" class="form-text text-muted"></small>
    </div>
     <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
<% include ../partials/footer %>